{% extends "base.html" %}


{% block content %}
<div class="row mb-3">
    <div class="col-12">
        <form hx-trigger="keyup,mouseup delay:100ms" hx-get="{% url 'post-filter' %}" hx-target="#tasklist-table">
            <div class="form-row">
                <div class="col-8">
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                                </svg>
                            </div>
                        </div>
                        <input name="title" class="form-control" id="id_name" placeholder="Search Task Lists">
                    </div>
                </div>
                <div class="col-4">
                    <select class="form-control" name="radio">
                        <option value="">ALL</option>
                        {% for radio in radios %}
                            <option value="{{radio.id}}">{{radio.title}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </form>
    </div>
    
    
</div>

<div id="tasklist-table">
    {% include "tasklist_filter.html" with object_list=object_list %}
</div>

<div class="text-right mt-3">
    <!-- Button to trigger modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createModal" onclick="location.href='/create/'">
        <i class="fas fa-plus"></i>
        POST
    </button>
</div>

{% endblock %}

{% block extrascripts %}
<script type="text/javascript">
    document.addEventListener("redirect", evt => {
        console.log(evt);
        window.location.href = evt.detail.url;
    });
    htmx.logAll();
</script>
{% endblock %}
